@import "../../../global.scss";

.connected{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;

    img{
        width: 32px;
        height: 32px;
        margin: 10px;
    }

    .user{
        font-weight: bold;
        color: black;
        margin: 10px;
    }

    button{
        background-color: $red;
        border: none;
        color: white;
        padding: 10px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: small;
        border-radius: 12px;
        box-shadow: 5px 5px 5px grey;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}