@import "../../global.scss";

.navbar {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 0.3s ease;
  padding-bottom:60px;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      .admin{
        writing-mode: vertical-rl;
        color: darkgoldenrod;
        font-weight: 900;
      }

      img{
        width: 40px;
        margin-right: 40px;
      }

      .logo {
        font-size: 2vw;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 10px;
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        .icon {
          font-size: 18px;
          margin-right: 5px;
        }

        span {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      transition: all 1s ease;
      font-weight: bold;
    }

    .center{
        display: flex;
        align-items: center;

        .text{
            ul{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-right: 1.5vw;
                list-style: none;
            }
    
            li{
                margin-left: 1.5vw;
                margin-right: 1.5vw;
                
                a{
                    font-size: large;
                    font-weight: 500;
                    color: inherit;
                    text-decoration: none;
                    transition: all 500ms ease;
                    cursor: pointer;
    
                    &:hover{
                        color: red;
                        font-size: 1.2vw;
                    }
                }
            }
        }
    }
  }

  .box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    display: none;
    animation: generes-animation-in 500ms ease;

    @keyframes generes-animation-in {
      0%{
        transform: translateX(-1000px);
      }
      100%{
        transform: translateX(0);
      }
    }

    &.active{
      display: flex;
    }

    a{
      text-decoration: none;
      font-size: medium;
      font-weight: bold;
      color: black;
      width: 100px;
      text-align: center;
      background-color: $backgroundColor;
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      box-shadow: 5px 5px 5px grey;
    }

    input{
      border: none;
      height: auto;
      width: 40%;
      font-size: medium;
      padding: 5px;
      border-radius: 12px;
      margin: 10px;
      box-shadow: 5px 5px 5px grey;
    }

    img{
      width: 32px;
      height: 32px;
      margin: 10px;
      cursor: pointer;
    }

  }
}